<!-- app/templates/academic.html -->
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Academic View</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/global.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/academic.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/nav.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/map.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/content.css') }}"
        />
    </head>
    <body>
        <div class="academic-layout">
            <div id="header-content"></div>
            <div id="main-nav"></div>
            <div id="article-sidebar"></div>
            <div id="article-content">
                <div id="map-view-container"></div>
                {% if content %} {{ content | safe }} {% endif %}
            </div>
            <div id="footer-content"></div>
        </div>

        <script
            type="module"
            src="{{ url_for('static', filename='dist/academic.js') }}"
        ></script>
    </body>
</html>
