<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ metadata.page_title or "Debug Viewer" }}</title>
    </head>
    <body>
        <header>
            <h1>{{ metadata.page_title or "Debug Viewer" }}</h1>
        </header>
        <div id="content">{{ content|safe }}</div>
        <section>
            <h2>Content</h2>
            <div id="content">{{ content|safe }}</div>
        </section>
        <section>
            <h2>Metadata</h2>
            <pre id="metadata">
            {{ metadata|tojson(indent=4) }}
        </pre
            >
        </section>
    </body>
</html>
