<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Documentation Interface</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/dita.css') }}"
        />
    </head>
    <body>
        <div id="root"></div>
        <!-- Update to use the built file instead of the source JSX -->
        <script
            type="module"
            src="{{ url_for('static', filename='dist/app.js') }}"
        ></script>
    </body>
</html>
